:root {
  background-color: #1A1C1D;
  --bg-dark: #1A1C1D;
  --scroll-dark: #303335;
  /* scrollbar-color: #1C1E1F #212529 ; */
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

.border-secondary {
    border-color: #42484b !important;
}

.navx {
  height: 5vh;
}

